<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template/head::head">
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:replace="template/navbar::navbar"></div>
    <div class="container">
        <p class="text-center" style="margin-top: 50px;">欢迎来到coding home,<shiro:principal property="mobile" /></p>
    </div>
    <!-- Footer -->
    <div th:replace="template/footer::div.footer"></div>
</body>
</html>
