<div class="footer">
    <div class="container text-center" style="background: #fff;">
        <p style="color:#474747;" class="text-muted">©2016 Coding </p>
        <span style="color:#474747;">联系我:zhanjun521ly@gmail.com</span>
       
    </div>
    <!--[if lt IE 9]>
    <style>
    #systemUpdate {
    font-size:18px;
    background-color: #FFFFBC;
    color: #BCA444;
    display: block;
    height: 35px;
    left: 0;
    line-height: 35px;
    text-align: center;
    position:fixed;
    left:0;
    bottom:0;
    width: 100%;
    z-index:1000;
    }
    #systemUpdate a{
    color:Crimson;
    }
    </style>
    <div id="systemUpdate">
    <b>您使用的浏览器版本已过期,请升级到<a href="http://www.baidu.com/s?wd=ie9" target="_blank">IE9</a>或选用其他浏览器,例如:<a href="http://www.baidu.com/s?wd=firefox" target="_blank">火狐(FireFox)</a>, <a href="http://www.baidu.com/s?wd=chrome" target="_blank">谷歌(Chrome)</a>, <a href="http://www.baidu.com/s?wd=opera" target="_blank">欧朋(Opera)</a>, <a href="http://www.baidu.com/s?wd=safari" target="_blank">(Safari)</a>浏览器</b></div>
<![endif]-->
</div>
