<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="renderer" content="webkit" />
<!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="" />
<meta name="author" content="" />
<!-- Note there is no responsive meta tag here -->
<link rel="icon" href="" />
<title>云校最小系统</title>
<!-- Bootstrap core CSS -->
<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
<link rel="shortcut icon" th:href="@{/assets/images/icon.ico}" type="image/x-icon" />
<!-- Custom styles for this template -->
<!--
    <link href="non-responsive.css" rel="stylesheet"/>
    -->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
        <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script type="text/javascript" src="//cdn.bootcss.com/seajs/3.0.2/sea.js" id="seajsnode"></script>
<script type="text/javascript" src="" th:src="@{/assets/js/seajs/seajs-css.js}"></script>
<script type="text/javascript" src="" th:src="@{/assets/js/seajs/seajs-log.js}"></script>
<script type="text/javascript" src="" th:src="@{/assets/js/seajs/seajs-preload.js}"></script>
<script type="text/javascript" src="" th:src="@{/sea-modules/seajs.config.js}"></script>
<style type="text/css">
body>.container {
    min-height: 800px;
}
</style>
</head>
